<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/lecss.css" type="text/css" rel="stylesheet">
    <link href="/css/960gs.css" type="text/css" rel="stylesheet">
    <link href="/css/dot-luv/jquery-ui-1.10.0.mod.css" type="text/css" rel="stylesheet" />
</head>

<body>

<div class="container_12">
<div id="tabs">
	{{include 'iface/templates/sections.html'}}
	{{tab_list}}
	{{tab_divs}}
</div>
</div>

<script src="/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/js/jquery.json-2.3.min.js" type="text/javascript"></script>
<script src="/js/jquery.websocket-0.0.2.js" type="text/javascript"></script>
<script src="/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="/js/lecode.js" type="text/javascript"></script>
</body>

</html>