@font-face {
  font-family: 'terminus';
  src: url('../fonts/TerminusMedium-4.38.ttf');
}

body{
  margin:0;  
  padding:0;
  overflow:hidden;
}
.irc {
	border-radius:5px;
	border:2px solid #50cbe6;
	overflow:auto;
	word-wrap:break-word;
	height:80%;
	width:100%;
	font-family: 'terminus';
}
.ulist {
	overflow-y:auto;
	overflow-x:hidden;
	text-align:left;
	float:right;
	color:#50cbe6;
	height:80%;
	width:100%;
	font-family: 'terminus';
}
.topicbar {
	text-align:left;
	color:#50cbe6;
	font-family: 'terminus';
}
.send_input {
	background-color:transparent;
	color:#e6db74;
	width:100%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #50cbe6;
	font-family: 'terminus';
}
.btn_send {
	background-color:transparent;
	color:#50cbe6;
	width:100%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #50cbe6;
	font-family: 'terminus';
}
.event {
	color: #a6e22e;
	font-style:italic;
}
.nickname {
	color: #f92672;
}
.msg {
	color: #e6db74;
}
.action {
	color: #f92672;
}
.brackets {
	color: #f92672;
}
.bckg_white { background-color: #ffffff; }
.bckg_black { background-color: #000000; }
.bckg_blue { background-color: #0000aa; }
.bckg_green { background-color: #00aa00; }
.bckg_red { background-color: #ff5555; }
.bckg_red2 { background-color: #aa0000; }
.bckg_purple { background-color: #aa00aa; }
.bckg_orange { background-color: #aa5500; }
.bckg_yellow { background-color: #ffff55; }
.bckg_green2 { background-color: #55ff55; }
.bckg_cyan { background-color: #00aaaa; }
.bckg_cyan2 { background-color: #55ffff; }
.bckg_cyan3 { background-color: #5555ff; }
.bckg_pink { background-color: #ff55ff; }
.bckg_grey { background-color: #555555; }
.bckg_grey2 { background-color: #aaaaaa; }

.font_white { color: #ffffff; }
.font_black { color: #000000; }
.font_blue { color: #0000aa; }
.font_green { color: #00aa00; }
.font_red { color: #ff5555; }
.font_red2 { color: #aa0000; }
.font_purple { color: #aa00aa; }
.font_orange { color: #aa5500; }
.font_yellow { color: #ffff55; }
.font_green2 { color: #55ff55; }
.font_cyan { color: #00aaaa; }
.font_cyan2 { color: #55ffff; }
.font_cyan3 { color: #5555ff; }
.font_pink { color: #ff55ff; }
.font_grey { color: #555555; }
.font_grey2 { color: #aaaaaa; }
/*.font_i {}
.font_b {}
.font_u {}*/

#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #50cbe6; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3a3a38; 
    -webkit-box-shadow: inset 0 0 6px #50cbe6; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #50cbe6; 
}