{{def tab_list}}
	<ul>
			<li><a href="#tabs--root">❤</a></li>
		{{for id, chan in tab_buttons}}
    		{{include 'iface/templates/events/tab_li'}}
		{{endfor}}
<!--<button>settings</button>-->
	</ul>
{{enddef}}

{{def tab_divs}}
		<div id="tabs--root">
			<div class="grid_2">&nbsp;</div><div class="grid_10"><div class="topicbar"> </div></div>
			<div class="clear"></div>
			<div class="grid_2">&nbsp;</div>
			<div class="grid_8"><div class="irc"></div></div>
			<div class="grid_2"><div class="ulist"></div></div>
			<div class="clear"></div>
			<form>
			<div class="grid_2">&nbsp;</div>
			<div class="grid_7"><input class="send_input" type="text"/></div>
			<div class="grid_1"><input class="btn_send" type="submit" value="&gt;&gt;"/></div>
			</form>
		</div>
	{{for id, chan in tab_buttons}}
	{{include 'iface/templates/events/tab_div'}}
	{{endfor}}
{{enddef}}